.Note {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 5px;
    margin: 5px;
    width: 15vw ;
    aspect-ratio: 3/4;
    box-shadow: 0 0 20px rgba(0,0,0,.3);
    color: black;
    background-color: blanchedalmond;
}
.auteur{
    align-self: end;
    margin : 0;
    font-weight: bolder;
    font-size: 18px;
    max-width: 70%;
    overflow: hidden;

}
.description{
    font-size: 14px;
    resize: none;
    width: 95%;
    height: 90%;
    overflow-y: auto;
}

.ajouter{
    background: transparent;
}


.champ {
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;

}

